h2.typo__h2#sub-props(data-section) Props
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="100") Name
          th.table__th(width="80") Type
          th.table__th(width="180") Default
          th.table__th(width="200") Description
      tbody
        tr.table__tr
          td.table__td.utils--center(colspan="4"): strong multiselectMixin.js

        tr.table__tr
          td.table__td: strong id
          td.table__td Integer||String
          td.table__td
          td.table__td.
            Used to identify the component in events.
        tr.table__tr
          td.table__td: strong options
          td.table__td Array
          td.table__td
          td.table__td.
            Array of available options: Objects, Strings or Integers.
            If array of objects, visible label will default to option.label.
        tr.table__tr
          td.table__td: strong value
          td.table__td Object||Array||String||Integer
          td.table__td
          td.table__td
            | Presets the selected options.
        tr.table__tr
          td.table__td: strong multiple
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Equivalent to the
            = " "
            kbd multiple
            |  attribute on a &lt;select&gt; input.
        tr.table__tr
          td.table__td: strong trackBy
          td.table__td String
          td.table__td
          td.table__td
            | Used to compare objects.
            strong  Only use if options are objects.
        tr.table__tr
          td.table__td: strong label
          td.table__td String
          td.table__td
          td.table__td
            | Label from option Object, that will be visible in the dropdown.
        tr.table__tr
          td.table__td: strong searchable
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Add / removes search input.
        tr.table__tr
          td.table__td: strong clearOnSelect
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Clear the search input after
            = " "
            kbd select()
            | . Use only when multiple is true.
        tr.table__tr
          td.table__td: strong hideSelected
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Hide already selected options
        tr.table__tr
          td.table__td: strong placeholder
          td.table__td String
          td.table__td: kbd 'Select option'
          td.table__td
            | Equivalent to the
            = " "
            kbd placeholder
            |  attribute on a &lt;select&gt; input.
        tr.table__tr
          td.table__td: strong allowEmpty
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Allows to remove all selected values. Otherwise one must be left selected.
        tr.table__tr
          td.table__td: strong resetAfter
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Reset <kbd>this.value</kbd>, <kbd>this.search</kbd>, <kbd>this.selected</kbd> after <kbd>this.value</kbd> changes.
        tr.table__tr
          td.table__td: strong closeOnSelect
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Enable/disable closing after selecting an option
        tr.table__tr
          td.table__td: strong customLabel
          td.table__td Function => String
          td.table__td
          td.table__td
            | Function used to create a custom label
        tr.table__tr
          td.table__td: strong taggable
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Disable / Enable tagging
        tr.table__tr
          td.table__td: strong tagPlaceholder
          td.table__td String
          td.table__td: kbd 'Press enter to create a tag'
          td.table__td
            | String to show when highlighting a potential tag
        tr.table__tr
          td.table__td: strong tagPosition
          td.table__td String
          td.table__td: kbd 'top'
          td.table__td
            | By default new tags will appear above the search results. Changing to <kbd>'bottom'</kbd> will revert this behaviour and will proritize the search results
        tr.table__tr
          td.table__td: strong max
          td.table__td Number
          td.table__td
          td.table__td
            | Number of allowed selected options.
        tr.table__tr
          td.table__td: strong optionsLimit
          td.table__td Number
          td.table__td 1000
          td.table__td
            | Limits the options displayed in the dropdown to the first X options.
        tr.table__tr
          td.table__td: strong groupValues
          td.table__td String
          td.table__td
          td.table__td
            | Name of the property containing the group values
        tr.table__tr
          td.table__td: strong groupLabel
          td.table__td String
          td.table__td
          td.table__td
            | Name of the property containing the group label
        tr.table__tr
          td.table__td: strong groupSelect
          td.table__td Boolean
          td.table__td false
          td.table__td
            | Allow to select all group values by selecting the group label
        tr.table__tr
          td.table__td: strong blockKeys
          td.table__td Array
          td.table__td []
          td.table__td
            | Array of keyboard key aliases to block when selecting
        tr.table__tr
          td.table__td: strong internalSearch
          td.table__td Boolean
          td.table__td true
          td.table__td
            | Decide whether to filter the results internally based on search query.
            | Useful for async filtering, where we search through more complex data.
        tr.table__tr
          td.table__td: strong preserveSearch
          td.table__td Boolean
          td.table__td false
          td.table__td
            | If set to true, will preserve the search query when opening/closing the component.
        tr.table__tr
          td.table__td: strong preselectFirst
          td.table__td Boolean
          td.table__td false
          td.table__td
            | Selects the first option if initial value is empty

        tr.table__tr
          td.table__td.utils--center(colspan="4"): strong Multiselect.vue

        tr.table__tr
          td.table__td: strong name
          td.table__td String
          td.table__td: kbd ''
          td.table__td
            | Name attribute to match optional label element
        tr.table__tr
          td.table__td: strong selectLabel
          td.table__td String
          td.table__td: kbd 'Press enter to select'
          td.table__td
            | String to show when pointing to an option
        tr.table__tr
          td.table__td: strong selectGroupLabel
          td.table__td String
          td.table__td: kbd 'Press enter to select group'
          td.table__td
            | String to show when pointing to an option
        tr.table__tr
          td.table__td: strong selectedLabel
          td.table__td String
          td.table__td: kbd 'Selected'
          td.table__td
            | String to show next to selected option
        tr.table__tr
          td.table__td: strong deselectLabel
          td.table__td String
          td.table__td: kbd 'Press enter to remove'
          td.table__td
            | String to show when pointing to an already selected option
        tr.table__tr
          td.table__td: strong deselectGroupLabel
          td.table__td String
          td.table__td: kbd 'Press enter to deselect group'
          td.table__td
            | String to show when pointing to an already selected option
        tr.table__tr
          td.table__td: strong showLabels
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Decide whether to show labels on highlighted options
        tr.table__tr
          td.table__td: strong limit
          td.table__td Number
          td.table__td: kbd 99999
          td.table__td
            | Limit the display of selected options. The rest will be hidden within the limitText string.
        tr.table__tr
          td.table__td: strong limitText
          td.table__td Function => String
          td.table__td: kbd count => `and ${count} more`
          td.table__td
            | Function that process the message shown when selected elements pass the defined limit.
        tr.table__tr
          td.table__td: strong loading
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Show/hide the loading spinner.
        tr.table__tr
          td.table__td: strong disabled
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Enable/disable the multiselect.
        tr.table__tr
          td.table__td: strong maxHeight
          td.table__td Integer
          td.table__td: kbd 300
          td.table__td
            | Sets max-height style value of the dropdown
        tr.table__tr
          td.table__td: strong openDirection
          td.table__td String
          td.table__td: kbd ''
          td.table__td
            | Fixed opening direction (instead of auto). Options are <kbd>"above"</kbd>/<kbd>"top"</kbd> or <kbd>"below"</kbd>/<kbd>"bottom"</kbd>
        tr.table__tr
          td.table__td: strong showNoResults
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Show the noResult slot if no results are found.
        tr.table__tr
          td.table__td: strong tabindex
          td.table__td Number
          td.table__td: kbd 0
          td.table__td
            | Specify the tabindex of the Multiselect component

        tr.table__tr
          td.table__td.utils--center(colspan="4"): strong pointerMixin.js

        tr.table__tr
          td.table__td: strong showPointer
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Enable/disable highlighting of the pointed value.
        tr.table__tr
          td.table__td: strong optionHeight
          td.table__td Number
          td.table__td: kbd 40
          td.table__td
            | The height of the option element. Required for proper scrolling.
