h2.typo__h2#sub-slots(data-section) Slots
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="200") Name
          th.table__th Description
      tbody
        tr.table__tr
          td.table__td: strong option
          td.table__td
            | Slot for custom option template. See <a class="typo__link" href="#sub-custom-option-template">example.</a>
            br
            strong  Default: Shows option label
            br
            | Slot-scope
            ul
              li <code>option</code> – option
              li <code>search</code> – current search value
        tr.table__tr
          td.table__td: strong maxElements
          td.table__td
            | Shows when the maximum options have been selected. Defaults to string:
            br
            strong  Default: Maximum of &lt;max&gt; options selected. First remove a selected option to select another.
        tr.table__tr
          td.table__td: strong noResult
          td.table__td
            | Shows when no elements match the search query. Defaults to string:
            br
            strong  Default: No elements found. Consider changing the search query.
        tr.table__trq
          td.table__td: strong noOptions
          td.table__td
            | Shows when no elements in options empty. Defaults to string:
            br
            strong  Default: List is empty.
        tr.table__tr
          td.table__td: strong beforeList
          td.table__td
            | Shows before the list, when dropdown is open.
        tr.table__tr
          td.table__td: strong afterList
          td.table__td
            | Shows after the list, when dropdown is open.
        tr.table__tr
          td.table__td: strong caret
          td.table__td
            | Element for opening and closing the dropdown.
            br
            | Slot-scope
            ul
              li <code>toggle: Function</code> – toggles the dropdown.
        tr.table__tr
          td.table__td: strong singleLabel
          td.table__td
            | Slot for custom label template for single select
        tr.table__tr
          td.table__td: strong placeholder
          td.table__td
            | Slot for the placeholder (is not displayed when the dropdown is open and searcharble is true)
        tr.table__tr
          td.table__td: strong limit
          td.table__td
            | Slot to display when the number of selected options is greater than `optionsLimit`.
        tr.table__tr
          td.table__td: strong clear
          td.table__td
            | Slot located before the tags
            br
            | Slot-scope
            ul
              li <code>search</code> – the search value
        tr.table__tr
          td.table__td: strong tag
          td.table__td
            | Slot that is used for all selected options (tags)
            br
            | Slot-scope
            ul
              li <code>option</code> – selected option
              li <code>search</code> – the search value
              li <code>remove</code> – method to remove the slot (pass the option)
          
