.grid__row
  .grid__column
    section#sub-getting-started(data-section)
      h1.typo__h1 Getting started
      hr.typo__hr

      .grid__row
        .grid__column
          h2.typo__h2 Installation
          h3.typo__h3 via npm
          pre.language-bash
            code.
              npm install vue-multiselect --save

          h3.typo__h3 via CDN
          pre.language-html
            code
              | &lt;script src="https://unpkg.com/vue-multiselect@2.1.0">&lt;/script>
              | &lt;link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

        .grid__column
          h2.typo__h2 Basic usage
          h3.typo__h3 via npm

          pre.language-html
            code.
              &lt;!-- Vue component -->
              &lt;template>
                &lt;div>
                  &lt;multiselect v-model="value" :options="options">&lt;/multiselect>
                &lt;/div>
              &lt;/template>

              &lt;script>
                import Multiselect from 'vue-multiselect'

                // register globally
                Vue.component('multiselect', Multiselect)

                export default {
                  // OR register locally
                  components: { Multiselect },
                  data () {
                    return {
                      value: null,
                      options: ['list', 'of', 'options']
                    }
                  }
                }
              &lt;/script>

              &lt;!-- New step!
                   Add Multiselect CSS. Can be added as a static asset or inside a component. -->
              &lt;style src="vue-multiselect/dist/vue-multiselect.min.css">&lt;/style>

              &lt;style>
                your styles
              &lt;/style>
              
          h3.typo__h3 via CDN

          pre.language-js
            code.
              // register globally
              Vue.component('vue-multiselect', window.VueMultiselect.default)
