h2.typo__h2#slots Slots
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="200") Name
          th.table__th Description
      tbody
        tr.table__tr
          td.table__td: strong MaxElements
          td.table__td
            | Shows when the maximum options have been selected. Defaults to string:
            strong  Maximum of &lt;max&gt; options selected. First remove a selected option to select another.
        tr.table__tr
          td.table__td: strong NoResult
          td.table__td
            | Shows when no elements match the search query. Defaults to string:
            strong  No elements found. Consider changing the search query.
        tr.table__tr
          td.table__td: strong BeforeList
          td.table__td
            | Shows before the list, when dropdown is open.
        tr.table__tr
          td.table__td: strong AfterList
          td.table__td
            | Shows after the list, when dropdown is open.
