h2.typo__h2#action Action dispatcher
p.typo__p
  | Multiselect may also act as dispatcher for different actions, like in this example. No need for <kbd>:selected</kbd> prop.
p.typo__p
  | Emits the <kbd>@select</kbd> after selecting an option.
p.typo__p
  | Set <kbd>:reset-after</kbd> prop to true, to clear the value after each change.
.grid__row
  .grid__column.grid__unit--md-5
    label.typo__label Open console to see logs.
    multiselect(
      :options="actions",
      :searchable="false",
      :reset-after="true",
      @select="dispatchAction",
      placeholder="Pick action",
    )

  .grid__column.grid__unit--md-7
    label.typo__label Code sample
    pre.language-jade
      code.
        multiselect(
          :options="actions",
          :searchable="false",
          :reset-after="true",
          @select="dispatchAction",
          placeholder="Pick action",
        )
    pre.language-javascript
      code.
        dispatchAction (actionName) {
          switch (actionName) {
            case 'alert':
              window.alert('You just dispatched "alert" action!')
              break
            case 'console.log':
              console.log('You just dispatched "console.log" action!')
              break
            case 'scrollTop':
              window.scrollTo(0, 0)
              break
          }
        }
