h2.typo__h2 Single select dropdown (primitive value)
p.typo__p Disabled all highlight label text.
.grid__row
  .grid__column.grid__unit--md-5
    label.typo__label Single select / dropdown
    multiselect(
      :options="options",
      :selected.sync="valuePrimitive",
      :multiple="false",
      :searchable="false",
      :close-on-select="false",
      :show-labels="false"
      placeholder="Select one"
      label="name"
    )
    pre.language-json
      code.
        {{ valuePrimitive | json }}

  .grid__column.grid__unit--md-7
    label.typo__label Code sample
    pre.language-jade
      code.
        multiselect(
          :options="options",
          :selected.sync="valuePrimitive",
          :multiple="false",
          :searchable="false",
          :close-on-select="false",
          :show-labels="false"
          placeholder="Select one"
          label="name"
        )
