h2.typo__h2#sub-props(data-section) Props
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="100") Name
          th.table__th(width="80") Type
          th.table__th(width="180") Default
          th.table__th(width="200") Description
      tbody
        tr.table__tr
          td.table__td.utils--center(colspan="4"): strong multiselectMixin.js

        tr.table__tr
          td.table__td: strong Id
          td.table__td Integer||String
          td.table__td
          td.table__td.
            Used to identify the component in events.
        tr.table__tr
          td.table__td: strong Options
          td.table__td Array
          td.table__td
          td.table__td.
            Array of available options: Objects, Strings or Integers.
            If array of objects, visible label will default to option.label.
        tr.table__tr
          td.table__td: strong Value
          td.table__td Object||Array||String||Integer
          td.table__td
          td.table__td
            | Presets the selected options.
        tr.table__tr
          td.table__td: strong Multiple
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Equivalent to the
            = " "
            kbd multiple
            |  attribute on a &lt;select&gt; input.
        tr.table__tr
          td.table__td: strong TrackBy
          td.table__td String
          td.table__td
          td.table__td
            | Used to compare objects.
            strong  Only use if options are objects.
        tr.table__tr
          td.table__td: strong Label
          td.table__td String
          td.table__td
          td.table__td
            | Label from option Object, that will be visible in the dropdown.
        tr.table__tr
          td.table__td: strong Searchable
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Add / removes search input.
        tr.table__tr
          td.table__td: strong ClearOnSelect
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Clear the search input after
            = " "
            kbd select()
            | . Use only when multiple is true.
        tr.table__tr
          td.table__td: strong HideSelected
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Hide already selected options
        tr.table__tr
          td.table__td: strong Placeholder
          td.table__td String
          td.table__td: kbd 'Select option'
          td.table__td
            | Equivalent to the
            = " "
            kbd placeholder
            |  attribute on a &lt;select&gt; input.
        tr.table__tr
          td.table__td: strong AllowEmpty
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Allows to remove all selected values. Otherwise one must be left selected.
        tr.table__tr
          td.table__td: strong ResetAfter
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Reset <kbd>this.value</kbd>, <kbd>this.search</kbd>, <kbd>this.selected</kbd> after <kbd>this.value</kbd> changes.
        tr.table__tr
          td.table__td: strong CloseOnSelect
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Enable/disable closing after selecting an option
        tr.table__tr
          td.table__td: strong CustomLabel
          td.table__td Function => String
          td.table__td
          td.table__td
            | Function used to create a custom label
        tr.table__tr
          td.table__td: strong Taggable
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Disable / Enable tagging
        tr.table__tr
          td.table__td: strong TagPlaceholder
          td.table__td String
          td.table__td: kbd 'Press enter to create a tag'
          td.table__td
            | String to show when highlighting a potential tag
        tr.table__tr
          td.table__td: strong Max
          td.table__td Number
          td.table__td
          td.table__td
            | Number of allowed selected options.
        tr.table__tr
          td.table__td: strong optionsLimit
          td.table__td Number
          td.table__td 1000
          td.table__td
            | Limits the options displayed in the dropdown to the first X options.
        tr.table__tr
          td.table__td: strong groupValues
          td.table__td String
          td.table__td
          td.table__td
            | ame of the property containing the group values
        tr.table__tr
          td.table__td: strong groupLabel
          td.table__td String
          td.table__td
          td.table__td
            | Name of the property containing the group label
        tr.table__tr
          td.table__td: strong blockKeys
          td.table__td Array
          td.table__td []
          td.table__td
            | Array of keyboard key aliases to block when selecting
        tr.table__tr
          td.table__td: strong internalSearch
          td.table__td Boolean
          td.table__td true
          td.table__td
            | Decide whether to filter the results internally based on search query.
            | Useful for async filtering, where we search through more complex data.

        tr.table__tr
          td.table__td.utils--center(colspan="4"): strong Multiselect.vue

        tr.table__tr
          td.table__td: strong SelectLabel
          td.table__td String
          td.table__td: kbd 'Press enter to select'
          td.table__td
            | String to show when pointing to an option
        tr.table__tr
          td.table__td: strong SelectedLabel
          td.table__td String
          td.table__td: kbd 'Selected'
          td.table__td
            | String to show next to selected option
        tr.table__tr
          td.table__td: strong DeselectLabel
          td.table__td String
          td.table__td: kbd 'Press enter to remove'
          td.table__td
            | String to show when pointing to an alredy selected option
        tr.table__tr
          td.table__td: strong ShowLabels
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Decide whether to show labels on highlighted options
        tr.table__tr
          td.table__td: strong Limit
          td.table__td Number
          td.table__td: kbd 99999
          td.table__td
            | Limit the display of selected options. The rest will be hidden within the limitText string.
        tr.table__tr
          td.table__td: strong LimitText
          td.table__td Function => String
          td.table__td: kbd count => `and ${count} more`
          td.table__td
            | Function that process the message shown when selected elements pass the defined limit.
        tr.table__tr
          td.table__td: strong Loading
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Show/hide the loading spinner.
        tr.table__tr
          td.table__td: strong Disabled
          td.table__td Boolean
          td.table__td: kbd false
          td.table__td
            | Enable/disable the multiselect.
        tr.table__tr
          td.table__td: strong MaxHeight
          td.table__td Integer
          td.table__td: kbd 300
          td.table__td
            | Sets max-height style value of the dropdown

        tr.table__tr
          td.table__td.utils--center(colspan="4"): strong pointerMixin.js

        tr.table__tr
          td.table__td: strong ShowPointer
          td.table__td Boolean
          td.table__td: kbd true
          td.table__td
            | Enable/disable highlighting of the pointed value.
