@import 'variables';

fieldset[disabled] .#{$vuemultiselect-selector} {
  pointer-events: none;
}

*[dir="rtl"] {
  .#{$vuemultiselect-selector},
  .#{$vuemultiselect-selector}__content {
    text-align: right;
  }
  .#{$vuemultiselect-selector} {
    &__select,
    &__clear,
    &__spinner,
    &__option:after {
      right: auto;
    }
    &__select,
    &__spinner {
      left: 1px;
    }
    &__tags {
      padding: 8px 8px 0px 40px;
    }
    &__option:after {
      left: 0;
    }
    &__clear {
      left: 12px;
    }
  }
}

.#{$vuemultiselect-selector} {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: $vuemultiselect-color-text;
  font-family: inherit;
  font-size: 16px;
  touch-action: manipulation;

  * {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }

  &__input,
  &__single {
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation;
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    background: $vuemultiselect-color-background;
    padding: 0 0 0 5px;
    width: calc(100%);
    transition: border 0.1s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    vertical-align: top;
    &:hover {
      border-color: $vuemultiselect-color-border-hover;
    }
    &:focus {
      border-color: $vuemultiselect-color-border-focus;
      outline: none;
    }
  }
  &__input {
    &::placeholder {
      color: $vuemultiselect-color-text;
    }
  }
  &__single {
    padding-left: 5px;
    margin-bottom: 8px;
  }

  &__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px;
    height: 35px;
    background: $vuemultiselect-color-background;
    display: block;

    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border-color: $vuemultiselect-color-brand-light transparent transparent;
      border-style: solid;
      border-width: 2px;
      box-shadow: 0 0 0 1px transparent;
    }

    &:before {
      animation: #{$vuemultiselect-selector}_spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
      animation-iteration-count: infinite;
    }

    &:after {
      animation: #{$vuemultiselect-selector}_spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
      animation-iteration-count: infinite;
    }
  }

  &-enter,
  &-leave {
    &-active {
      transition: all 0.15s ease;
    }
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
  &__loading {

    &-enter,
    &-leave {
      &-active {
        transition: opacity 0.4s ease-in-out;
        opacity: 1;
      }
    }

    &-enter {
      opacity: 0;
    }

    &-leave {
      &-active {
        opacity: 0;
      }
    }
  }

  &--disabled {
    background: $vuemultiselect-color-background-disabled;
    pointer-events: none;
    opacity: 0.6;
    .#{$vuemultiselect-selector} {
      &__current,
      &__select {
        background: $vuemultiselect-color-background-disabled;
        color: $vuemultiselect-color-group-text-disabled;
      }
    }
  }

  &--active {
    z-index: 50;
    .#{$vuemultiselect-selector}__select {
      transform: rotate(180deg);
    }
    &:not(.#{$vuemultiselect-selector}--above) {

      .#{$vuemultiselect-selector} {
        &__current,
        &__input,
        &__tags {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      /*.#{$vuemultiselect-selector}__select {
        transform: rotateZ(180deg);
      }*/
    }

    &.#{$vuemultiselect-selector}--above {
      .#{$vuemultiselect-selector} {

        &__current,
        &__input,
        &__tags {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    .#{$vuemultiselect-selector}__placeholder {
      display: none;
    }
  }
  &--above {
    .#{$vuemultiselect-selector} {
      &__content {
        &-wrapper {
          bottom: 100%;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom: none;
          border-top: 1px solid $vuemultiselect-color-item-border;
        }
      }
    }
  }
  &__tags {
    min-height: 40px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid $vuemultiselect-color-item-border;
    background: $vuemultiselect-color-background;
    font-size: 14px;
    &-wrap {
      display: inline;
    }
  }
  &__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: $vuemultiselect-color-text-active;
    line-height: 1;
    background: $vuemultiselect-color-background-active;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    &-icon {
      cursor: pointer;
      margin-left: 7px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      font-weight: 700;
      font-style: initial;
      width: 22px;
      text-align: center;
      line-height: 22px;
      transition: all 0.2s ease;
      border-radius: 5px;
      &:after {
        content: "\D7";
        color: $vuemultiselect-color-brand-dark;
        font-size: 14px
      }
      &:focus,
      &:hover {
        background: $vuemultiselect-color-background-active;
        &:after {
          color: $vuemultiselect-color-text-active;
        }
      }
    }
    ~ {
      .#{$vuemultiselect-selector} {
        &__input,
        &__single {
          width: auto;
        }
      }
    }
  }
  &__current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 8px 30px 0 12px;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid $vuemultiselect-color-item-border;
    cursor: pointer;
  }
  &__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:before {
      position: relative;
      right: 0;
      top: 65%;
      color: #999; // FIX COLOR VAR
      margin-top: 4px;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #999999 transparent transparent transparent; // FIX COLOR VAR
      content: "";
    }
  }
  &__placeholder {
    color: #adadad; // FIX COLOR VAR
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
  }
  &__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top;
    &::webkit-scrollbar {
      display: none;
    }
    &-wrapper {
      position: absolute;
      display: block;
      background: $vuemultiselect-color-background;
      width: 100%;
      max-height: 240px;
      overflow: auto;
      border: 1px solid #e8e8e8; // Fix Color Var
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 50;
      -webkit-overflow-scrolling: touch;
    }
  }
  &__element {
    display: block;
  }
  &__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &:after {
      top: 0;
      right: 0;
      position: absolute;
      line-height: 40px;
      padding-right: 12px;
      padding-left: 20px;
      font-size: 13px;
    }
    &--highlight {
      background: $vuemultiselect-color-background-active;
      outline: none;
      color: $vuemultiselect-color-text-active;
      &:after {
        content: attr(data-select);
        background: $vuemultiselect-color-background-active;
        color: $vuemultiselect-color-text-active;
      }
    }
    &--selected {
      background: $vuemultiselect-color-background-group-selected;
      color: $vuemultiselect-color-text;
      font-weight: 700;
      &:after {
        content: attr(data-selected);
        color: silver; // Fix color var
      }
      &.#{$vuemultiselect-selector} {
        &__option {
          &--highlight {
            background: $vuemultiselect-color-group;
            color: $vuemultiselect-color-text-active;
            &:after {
              background: $vuemultiselect-color-group;
              content: attr(data-deselect);
              color: $vuemultiselect-color-text-active;
            }
          }
        }
      }
    }
    &--disabled {
      background: $vuemultiselect-color-background-disabled !important;
      color: $vuemultiselect-color-group-text-disabled !important;
      cursor: text;
      pointer-events: none;
      &.#{$vuemultiselect-selector} {
        &__option {
          &--highlight {
            background: $vuemultiselect-color-background-group-disabled;
          }
        }
      }
    }
    &--group {
      background: $vuemultiselect-color-background-disabled;
      color: $vuemultiselect-color-text;
      &-selected {
        &.#{$vuemultiselect-selector} {
          &__option {
            &--highlight {
              background: $vuemultiselect-color-group;
              color: $vuemultiselect-color-text-active;
              &:after {
                background: $vuemultiselect-color-group;
                content: attr(data-deselect);
                color: $vuemultiselect-color-text-active;
              }
            }
          }
        }
      }
      &.#{$vuemultiselect-selector} {
        &__option {
          &--highlight {
            background: $vuemultiselect-color-background-group-highlight;
            color: $vuemultiselect-color-text-active;
            &:after {
              background: $vuemultiselect-color-background-group-highlight;
            }
          }
        }
      }
    }
  }
  &__strong {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
  }
}


@keyframes #{$vuemultiselect-selector}_spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(2turn);
  }
}
