doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    title Vue-Multiselect | Vue Select Library
    link(rel='icon', href='static/vue-logo.png', type='image/x-icon')
    meta(name='description', content='Probably the most complete selecting solution for Vue.js, without jQuery.')
    meta(property='og:title', content='Vue-Multiselect | Vue Select Library.')
    meta(property='og:site_name', content='Vue-Multiselect | Vue Select Library.')
    meta(property='og:url', content='http://vue-multiselect.js.org')
    meta(property='og:description', content='Probably the most complete selecting solution for Vue.js, without jQuery.')
    meta(property='og:image', content='http://vue-multiselect.js.org/static/vue-logo.png')
    meta(property='twitter:image', content='http://vue-multiselect.js.org/static/vue-logo.png')
    meta(property='twitter:title', content='Vue-Multiselect | Vue Select Library.')
    meta(property='twitter:description', content='The most complete selecting solution for Vue.js, without jQuery.')
  body
    #app
      include ./_mixins
      include ./partials/_start

      .grid__row.docs
        .grid__columns.grid__unit--sm-3.small--hidden
          include ./partials/_nav
        .grid__columns.grid__unit--sm-12.grid__unit--md-9
          include ./partials/_getting-started

          include ./partials/examples/_examples

          hr.typo__hr
          include ./partials/api/_props
          include ./partials/api/_events
          include ./partials/api/_slots

      include ./partials/_footer

    script(src=require('!!url-loader!assets/prism.js'))
    script(src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js")
    script.
      ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78373326-1', 'auto');
      ga('send', 'pageview');
    script.
      /*eslint-disable */
      Prism.languages.pug = Prism.languages.jade

      WebFontConfig = {
        google: { families: [ 'Lato:700,400', 'Dosis:400' ] }
      }
      ;(function() {
        var wf = document.createElement('script')
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js'
        wf.type = 'text/javascript'
        wf.async = 'true'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(wf, s)
      })()

+renderToc()
